/* custom font */
@font-face {
  font-family: digital-clock;
  src: url(clockFont.ttf);
}

body {
  background-color: aliceblue;
}

#clockContainer {
  display: table-cell; /* allows for vertical-align so it can be centered */
  color: #0064ff;
  font-family: digital-clock, sans-serif;
  font-size: 10vw;
  text-shadow: 1px 1px black;
  text-align: center;
  vertical-align: middle;
}

.clockNumber {
  display: inline-block;
  min-width: 4.85vw;
}

.hrsMins {
  letter-spacing: 0.7vw;
}

.amPm {
  color: #ad1515;
}

.seconds {
  color: black;
  font-size: 4.5vw;
}

.centiseconds {
  color: black;
  font-size: 2.5vw;
}

/*    D R O P D O W N    M E N U     */

.OptionsDropContainer {
  display: inline-block;
  position: absolute;
}

.OptionsDropBtn {
  position: absolute;
  background-color: #aedcb1;
  color: #0a3303;
  font-family: Tahoma, sans-serif;
  font-size: 1em;
  text-shadow: 1px 1px white;
  border-color: darkseagreen;
  border-style: outset;
  font-weight: 550;
  min-width: 6.25em;
  z-index: 1;
}

.OptionsDropBtn::after {
  content: "\25BE" /*down arrow unicode char*/
}

.OptionsDropContainer:hover .OptionsDropItems {
  display: block;
}

.OptionsDropItems {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 14px 1px rgba(0,0,0,0.2);
  top: 25px;
  font-family: Verdana, sans-serif;
  font-size: 10px;
  text-align: right;
}

.OptionsDropItems *:hover {
  background-color: lightgreen;
}

.OptionsDropItems div {
  display: inline-block;
  padding: 5px 0px;
  margin-right: 2px;
  max-width: 118px;
  min-width: 98px;
  /* trick from https://stackoverflow.com/questions/17915865/how-to-make-borders-collapse-on-a-div */
  box-shadow:
    2px 0 0 0 #888,
    0 2px 0 0 #888,
    2px 2px 0 0 #888,   /* Just to fix the corner */
    2px 0 0 0 #888 inset,
    0 2px 0 0 #888 inset;
}
